.card {
    width: 25%;
    margin: auto;
    padding: 2%;
}


.login-label {
    font-weight: bold;
}


.dispNone {
    display: none;
}


.dispBlock {
    display: block;
}


.error-color {
    color: red;
}


@media (max-width:1000px) {
    .card-style {
        width: 75%;
    }
}
